<h1>welcome to <i class="glyphicon glyphicon-book"></i><strong>Bookers</strong>　!!</h1>
<h5>In <i class="glyphicon glyphicon-book"></i><strong>Bookers</strong>,<br>
	you can share and exchange your opinions , inpressions , and emotions<br>
	about varioius books!
</h5>

<%= link_to "Log in", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>