/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";

  body {
  	font-family: inherit,"Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 14px;
  	padding-top: 50px;
  }

  a {
  	color: grey;
  }

  a:hover {
  	background-color: black;
  	text-decoration: none;
  }

  .field_with_errors {
  	background-color: red;
  	padding: 2px;
  	display: table;
  }

  #error_explanation {
  	background-color: #f0f0f0;
  	width: 450px;
  	border: 2px solid red;
  	padding: 7px;
  	margin-bottom: 20px;
  }

  #error_explanation h2 {
  	background-color: #c00;
  	font-size: 12px;
  	margin: -7px;
  	margin-bottom: 0;
  	color: #fff;
  	text-align: left;
  	padding: 5px 5px 5px 15px;
  	font-weight: bold;
  }

  #error_explanation ul {
  	padding-left: 40px;
  	margin: 0 33px 0 33px;
  }

  #error_explanation ul li {
  	font-size: 12px;
  }

  .labels {
  	font-weight: bold;
  }

  .field {
  	margin-bottom: 10px;
  }

  .top {
  	margin-top: 20px;
  }